.layer {
  /* background: #ececec; */
  border-bottom: 1px solid #333;
  user-select: none;
}
.layer > p {
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.layer-level-2,
.layer-level-3,
.layer-level-4 {
  padding: 4px 8px;
  color: #eee;
}
.properties label {
  font-size: 0;
  margin: 5px 10px;
}
.properties label > p {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
.properties input {
  width: 68px;
  height: 18px;
  border-radius: 1px 8px 1px 1px;
  border: none;
  background: #373737;
  outline: none;
  padding: 1px 4px;
  color: #fff;
}

.property {
  width: 100%;
  background: #3d3d3d;
  height: 26px;
  margin-bottom: 6px;
  border-bottom: 1px solid #222;
}
.property > p {
  line-height: 26px;
  padding: 0 6px;
}

input[type='button'] {
  background: none;
  border: none;
  border-right: 1px solid #333;
  cursor: pointer;
}
input[type='button']:hover {
  background: rgba(0, 0, 0, 0.2);
}

.top {
  align-items: center;
}
.top > * {
  height: 100%;
}
label {
  padding: 0 4px;
}
label > input {
  height: 100%;
}
.login {
  float: right;
}
.prop_label {
  display: flex;
  justify-content: space-between;
}
