.layer {
  /* background: #ececec; */
  border-bottom: 2px solid #121212;
  user-select: none;
}
.layer > p {
  height: 26px;
  line-height: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.layer-level-2,
.layer-level-3,
.layer-level-4 {
  padding: 4px 8px;
  color: #eee;
}
.properties label {
  font-size: 0;
  margin: 5px 8px;
}
.properties label > p {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  line-height: 22px;
}
.properties input,
.properties select {
  width: 84px;
  height: 20px;
  border-radius: 8px;
  border: 1px solid #2A2B2B;
  background: #1A1A1C;
  outline: none;
  padding: 2px 4px;
  color: #fff;
  -webkit-appearance: none;
  appearance: none;
}
select:focus,
select:hover,
option:focus,
option:hover {
  outline: 0;
}
.properties select * {
  background: #373737;
}

.property {
  width: 100%;
  background: #38393A;
  height: 30px;
  margin-bottom: 6px;
  border-bottom: 1px solid #222;
}
.property > p {
  line-height: 18px;
  margin: 6px 10px;
  padding: 0 6px;
  border-left: 1px solid #191818;
  color: #919293;
  font-weight: bold;
}

input[type='button'] {
  background: none;
  border: none;
  border-right: 1px solid #333;
  cursor: pointer;
}
input[type='button']:hover {
  background: rgba(0, 0, 0, 0.2);
}

.top {
  align-items: center;
}
.top > * {
  height: 100%;
}
label {
  padding: 0 4px;
}
label > input {
  height: 100%;
}
.login {
  float: right;
}
.prop_label {
  color: #eee;
  display: flex;
  justify-content: space-between;
}

.prop_label > select{
  height: 24px;
}

.fx_presets{
  overflow-y: scroll;
}
.fx_presets::-webkit-scrollbar{
  display:none;
}

.preset{
  margin: 0px 4px 4px 4px;
  border: 1px solid #222;
  border-radius: 0 12px 0 12px;
}
.preset-title{
  padding: 8px; 
  color: #eee;
}
.preset > label{
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.preset > label > span{
  width: 60px;
  text-align: center;
  color:#eee;
  margin-right: 8px;
}
.preset > label > input{
  flex: 1;
}