body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.nsb::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nsb {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.timebar {
  width: 2px;
  height: 100%;
  background: #99ca3c;
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 0.8;
  cursor: col-resize;
  z-index: 9999;
}
#timebody_scroll {
  /* overflow-x: scroll; */
  height: 100%;
}
#flexbox-9 > div {
  position: relative;
}
#timehead_head,
#timebody_head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  background: #3d3d3d;
  border-bottom: 1px solid #222;
}
#tl_names,
#tl_props {
  width: 100%;
  height: 100%;
  margin-top: 26px;
  overflow-y: auto;
}
.tl_name {
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  border-bottom: 1px solid #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color:#efefef;
}
.tl_name_color {
  width: 5px;
  height: 20px;
  position: absolute;
  left: 6px;
  top: 6px;
}
.tl_prop {
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #333;
  position: relative;
}
.tl_point {
  width: 4px;
  height: 8px;
  border: 1px solid #151515;
  background: #333;
  border-radius: 3px;
  position: absolute;
  top: 11px;
}
.tl_point:hover {
  background: #222;
}
#timehead_head {
}
#timehead_head > input {
  height: 100%;
}
#timebody_head {
}
.time_calib_unit {
  height: 16px;
  width: 36px;
  position: absolute;
  top: 0;
  margin-left: -18px;
  font-size: 12px;
  text-align: center;
}
.time_calib {
  height: 10px;
  width: 2px;
  background: #1b1b1b;
  position: absolute;
  top: 16px;
}

.top > input {
  color: #eee;
}
