:root {
  --dark3: #060607;
  --dark2: #161616;
  --dark1: #202020;
  --plain: #232323;
  --bright1: #313131;
  --bright2: #5f5f5f;
  --bright3: #222530;
  --gray5: #ddd;
  --gray4: #bbb;
  --gray3: #999;
  --gray2: #777;
  --gray1: #555;
  --accent1: #36416f;
  --accent2: #25335e;
  --accent3: #15224d;
  --accent4: #0C173F;
  --accent5: #021036;
}